{% extends "layout.html" %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <form id="input-chinese" action="{{ url_for('read') }}" method="post">
          <!-- form-group div creates space between text area and submit button m-->
          <div class="form-group">
            <label for="paste-textarea">Paste Zhongwen here:</label>
            <textarea class="form-control" name="pastedtext" rows="3"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}